<section class="hero-section">
  <div class="hero-content">
    <h1>
      Revolutionize Your Car Wash Business with Jicho Car Wash Management System
    </h1>
    <div class="cta-buttons">
      <a href="#demo">
        <button class="demo-btn">Watch Demo</button>
      </a>
      <a
        href="https://whaledigitalstudios.com/contact/contact"
        target="_blank"
        rel="noopener"
      >
        <button class="get-started-btn">Get Started</button>
      </a>
    </div>
  </div>
  >
</section>
